/* 1. Reset */

*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
p {
    margin: 0;
}

ul {
    list-style: none;
}

body {
    min-height: 100vh;
    line-height: 1.5;
}

img {
    max-width: 100%;
    display: block;
}

/* 2. Navigation */

.navbar {
    background-color: rgb(202, 94, 94);
    font-size: 1rem;
    font-weight: 700;
    height: 3rem;
    letter-spacing: 1px;
}

.navbar .collapse .navbar-nav .nav-item .nav-link {
    color: rgb(39, 39, 39);
}

.navbar .collapse .navbar-nav .nav-item .nav-link:hover {
    color: white;
}

/* 3. Hero / jumbotron */

.jumbotron {
    background-color: rgb(201, 200, 200);
    height: 100vh;
    background-image: url(/images/02-hero-bg.jpg);
    background-image: no-repeat;
    background-size: 100%;
    background-color: rgb(92, 179, 250);
    background-blend-mode: multiply;
}

h1,
.lead {
    color: rgb(235, 232, 232);
    font-weight: 700;
}